<div class="church" data-church={{this.church_id}} style="border: 1px">
<h4>Church Name: {{this.church_name}}</h4><br>
<p data-address="{{this.address_id}}">
  Address Line 1: {{this.address_line}}<br>
  Address Line 2: {{this.address_line2}}<br>
  City: {{this.city}}<br>
  Province: {{this.province}}<br>
  Postal Code: {{this.postal_code}}<br>
  Country: {{this.country}}
</p>

</div>