<option></option>
{{#each groomNames}}
    {{!-- value is the same --}}
    <option value="{{member_id}}, {{person_id}}, {{first_name}}, {{middle_name}}, {{last_name}}">{{member_id}} | {{first_name}} {{middle_name}}. {{last_name}}</option>
{{/each}}