<div id="bride_member_div" style="display:{{display}}">
    <label>Select Bride</label>
    <select name="input_bride_member" id="input_bride_member" class="form-select">
    {{#if bride.member_id}}
        <option value="{{bride.member_id}}, {{bride.person_id}}, {{bride.first_name}}, {{bride.middle_name}}, {{bride.last_name}}"
                data-bride-memberid="{{bride.member_id}}" 
                data-bride-personid="{{bride.person_id}}"
                data-bride-firstname="{{bride.first_name}}"
                data-bride-middlename="{{bride.middle_name}}"
                data-bride-lastname="{{bride.last_name}}">
            {{bride.member_id}} | {{bride.first_name}} {{bride.middle_name}}. {{bride.last_name}}
        </option>
    {{/if}}
    {{!-- checks if the names length is only 1 (i.e. brideNames.length == 1), function is in helpers/hbsHelper.js--}}
    {{#if (isLengthOne brideNames.length)}}
        {{> oneDropdownBride brideNames=brideNames}}
    {{else}}
        {{> dropdownBride brideNames=brideNames}}
    {{/if}}
    </select>
</div>