<div id="groom_member_div" style="display:{{display}}">
    <label>Select Groom</label>
    <select name="input_groom_member" id="input_groom_member" class="form-select">
    {{#if groom.member_id}}
        <option value="{{groom.member_id}}, {{groom.person_id}}, {{groom.first_name}}, {{groom.middle_name}}, {{groom.last_name}}"
                data-groom-memberid="{{groom.member_id}}" 
                data-groom-personid="{{groom.person_id}}"
                data-groom-firstname="{{groom.first_name}}"
                data-groom-middlename="{{groom.middle_name}}"
                data-groom-lastname="{{groom.last_name}}">
            {{groom.member_id}} | {{groom.first_name}} {{groom.middle_name}}. {{groom.last_name}}
    {{/if}}
    </option>
    {{!-- checks if the names length is only 1 (i.e. groomNames.length == 1), function is in helpers/hbsHelper.js--}}
    {{#if (isLengthOne groomNames.length)}}
        {{> oneDropdownGroom groomNames=groomNames}}
    {{else}}
        {{> dropdownGroom groomNames=groomNames}}
    {{/if}}
    </select>
</div>