<div class='col-4' style='margin-bottom: 1em;'>
  <div class='card witness' data-member="{{this.witness_member_id}}" data-person="{{this.witness_member_id}}">
    <div class='card-body'>
      <p class='card-text'>{{this.witness_first_name}} {{this.witness_mid_name}}. {{this.witness_last_name}}</p>
      <button class="plus-btn edit_witness_btn" type="button"><i style="width: 1em; height: 1em; color:black;"
          class="fa fa-edit"></i> </button>
      <button class="plus-btn delete_witness_btn" type="button"><i style="width: 1em; height: 1em; color:black;"
          class="fa fa-trash"></i> </button>

    </div>
  </div>
</div>