{{>navbar}}
<div id="dedication_info"
  data-dedicationid="{{dedication_id}}"
  data-parentsid="{{parents_id}}"
  data-dedication-date="{{dedication_date}}"
  data-place="{{place}}"
  data-officiant="{{officiant}}"></div>
<div id="infant_info" 
  data-infant-personid="{{infant_person_id}}"
  {{#if infant_member_id}} data-infant-memberid="{{infant_member_id}}" {{else}} data-infant-memberid="" {{/if}}
  data-infant-first="{{infant_first_name}}"
  data-infant-middle="{{infant_middle_name}}"
  data-infant-last="{{infant_last_name}}"></div>
<div id="guardian1_info"
  data-guardian1-personid="{{guardianOne_person_id}}"
  {{#if guardianOne_member_id}} data-guardian1-memberid="{{guardianOne_member_id}}" {{else}} data-guardian1-memberid="" {{/if}}
  data-guardian1-first="{{guardianOne_first_name}}"
  data-guardian1-middle="{{guardianOne_middle_name}}"
  data-guardian1-last="{{guardianOne_last_name}}"></div>
<div id="guardian2_info"
  data-guardian2-personid="{{guardianTwo_person_id}}"
  {{#if guardianTwo_member_id}} data-guardian2-memberid="{{guardianTwo_member_id}}" {{else}} data-guardian2-memberid="" {{/if}}
  data-guardian2-first="{{guardianTwo_first_name}}"
  data-guardian2-middle="{{guardianTwo_middle_name}}"
  data-guardian2-last="{{guardianTwo_last_name}}"></div>

<form id="edit_dedication_form" class="container">
  <div class="container" style="padding-left: 25%; padding-right: 20%;">
    <div class="row d-flex justify-content-between">
      <h1 class="my-3"> Edit Child Dedication Form </h1>
    </div>
    <hr style="margin-top: 0;">
    <div class="row">
      <div class="col">
        <legend>Dedication Date</legend>
        <input type="date" id="date" name="date" class="form-control" value="{{date dedication_date}}">
        <p id="date_info_error" class="error_codes"> </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <legend>Child Name</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{infant_first_name}}</p>
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{infant_middle_name}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{infant_last_name}}</p>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mb-4" id="edit_child">Edit</button>
      </div>
    </div>
    <hr>
    {{!-- this div will become modal --}}
    <div class="row">
      <legend>Parent / Guardian </legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{guardianOne_first_name}}</p>
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{guardianOne_mid_name}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{guardianOne_last_name}}</p>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mb-4" id="edit_parent_one">Edit</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <legend>Parent / Guardian</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{guardianTwo_first_name}}</p>
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{guardianTwo_mid_name}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{guardianTwo_last_name}}</p>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mb-4" id="edit_parent_two">Edit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
      <div class="col">
        <label for="officiant">Officiant*</label>
        <input type="text" id="officiant" name="officiant" class="form-control" value="{{officiant}}">
        <p id="officiant_info_error" class="error_codes"> </p>
      </div>
      <div class="col">
        <label for="address">Address of Dedication*</label>
        <input type="text" id="address" name="address" class="form-control" value="{{place}}">
        <p id="address_info_error" class="error_codes"> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <legend>Godmother/s</legend>
        <button id="add_gmother_button" class="plus-btn" type="button"><i style="width: 2.5em; height: 2.5em; color:black;" class="far fa-plus-square"></i></button>
      </div>
    </div>
    <div class="row" style="margin-top: -0.5em;">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row" id="gmother_witness_row">
      <p id="witness_gmother_info_error" class="error_codes"> </p>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <legend>Godfather/s</legend>
        <button class="plus-btn" id="add_gfather_button" type="button"><i style="width: 2.5em; height: 2.5em; color:black;" class="far fa-plus-square"></i></button>
      </div>
    </div>
    <div class="row" style="margin-top: -0.5em;">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row" id="gfather_witness_row">
      <p id="witness_gfather_info_error" class="error_codes"> </p>
    </div>
    <button id="edit-dedication" type="button" class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="modal fade" id="GMotherWitnessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Godmother</h5>
        <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <input type="radio" id="witness_gmother_non_member"> Non Member
            <input class="mb-3" type="radio" id="witness_gmother_member" checked disabled> Member
            <div id="witness_gmother_member_div" style="display:block">
              <label>Select Witness</label>
              <select name="input_witness" id="input_witness_gmother_member">
                {{>dropdown females}}
              </select>
            </div>
            <fieldset class="form-group" id="witness_gmother_non_member_div" style="display:none">
              <div class="div">
                <div class="row">
                  <div class="col-12">
                    <label for="witness_first_name">First Name</label>
                    <input type="text" id="witness_gmother_first_name" name="witness_first_name" class="form-control">
                  </div>
                  <div class="col-12">
                    <label for="witness_mid_name">Middle Initial</label>
                    <input type="text" id="witness_gmother_mid_name" name="witness_mid_name" class="form-control">
                  </div>
                  <div class="col-12">
                    <label for="witness_last_name">Last Name</label>
                    <input type="text" id="witness_gmother_last_name" name="witness_last_name" class="form-control">
                  </div>
                </div>
              </div>
            </fieldset>
            <p id="witness_gmother_modal_info_error" class="error_codes"> </p>
            <p id="witness_gmother_modal_middle_error" class="error_codes"> </p>
            <p id="witness_gmother_modal_middle_len_error" class="error_codes"> </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add_gmother_witness">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="GFatherWitnessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Godfather</h5>
        <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <input type="radio" id="witness_gfather_non_member"> Non Member
            <input class="mb-3" type="radio" id="witness_gfather_member" checked disabled> Member
            <div id="witness_gfather_member_div" style="display:block">
              <label>Select Witness</label>
              <select name="input_witness" id="input_witness_gfather_member">
                {{>dropdown males}}
              </select>
            </div>
            <fieldset class="form-group" id="witness_gfather_non_member_div" style="display:none">
              <div class="div">
                <div class="row">
                  <div class="col-12">
                    <label for="witness_first_name">First Name</label>
                    <input type="text" id="witness_gfather_first_name" name="witness_first_name" class="form-control">
                  </div>
                  <div class="col-12">
                    <label for="witness_mid_name">Middle Initial</label>
                    <input type="text" id="witness_gfather_mid_name" name="witness_mid_name" class="form-control">
                  </div>
                  <div class="col-12">
                    <label for="witness_last_name">Last Name</label>
                    <input type="text" id="witness_gfather_last_name" name="witness_last_name" class="form-control">
                  </div>
                </div>
              </div>
            </fieldset>
            <p id="witness_gfather_modal_info_error" class="error_codes"> </p>
            <p id="witness_gfather_modal_middle_error" class="error_codes"> </p>
            <p id="witness_gfather_modal_middle_len_error" class="error_codes"> </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add_gfather_witness">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editChild" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Child</h5>
        <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="radio" id="child_non_member"> Non-member
        <input class="mb-3" type="radio" id="child_member" checked disabled> Member
      
        <div id="child_member_div" style="display:block">
          <label>Select Child*</label>
          <select name="input_child_member" id="input_child_member" >
            {{>dropdown members}}
          </select>
        </div>
      
        <fieldset class="form-group" id="child_non_member_div" style="display:none">
          <div class="div">
            <div class="row">
              <div class="col-12">
                <label for="child_first_name">First Name</label>
                <input type="text" id="child_first_name" name="child_first_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="child_mid_name">Middle Initial</label>
                <input type="text" id="child_mid_name" name="child_mid_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="child_last_name">Last Name</label>
                <input type="text" id="child_last_name" name="child_last_name" class="form-control">
              </div>
            </div>
          </div>
        </fieldset>
        <p id="child_info_error" class="error_codes"> </p>
        <p id="child_middle_error" class="error_codes"> </p>
        <p id="child_middle_len_error" class="error_codes"> </p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_edit_child">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editParentOne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Parent One</h5>
        <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="radio" id="parent1_non_member"> Non Member
        <input class="mb-3" type="radio" id="parent1_member" checked disabled> Member
        <div id="parent1_member_div" style="display:block">
          <label>Select Parent / Guardian*</label>
          <select name="input_parent1" id="input_parent1_member">
            {{>dropdown members}}
          </select>
        </div>
        <fieldset class="form-group" id="parent1_non_member_div" style="display:none">
          <div class="div">
            <div class="row">
              <div class="col-12">
                <label for="parent1_first_name">First Name</label>
                <input type="text" id="parent1_first_name" name="parent1_first_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="parent1_mid_name">Middle Initial</label>
                <input type="text" id="parent1_mid_name" name="parent1_mid_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="parent1_last_name">Last Name</label>
                <input type="text" id="parent1_last_name" name="parent1_last_name" class="form-control">
              </div>
            </div>
          </div>
        </fieldset>
        <p id="parent1_info_error" class="error_codes"> </p>
        <p id="parent1_middle_error" class="error_codes"> </p>
        <p id="parent1_middle_len_error" class="error_codes"> </p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_edit_parent_one">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editParentTwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Parent Two</h5>
        <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="radio" id="parent2_non_member"> Non-member
        <input class="mb-3" type="radio" id="parent2_member" checked disabled> Member
        <input type="radio" id="parent2_none"> None

        <div id="parent2_member_div" style="display:block">
          <label>Select Parent / Guardian</label>
          <select name="input_parent2_member" id="input_parent2_member">
            {{>dropdown members}}
          </select>
        </div>

        <fieldset class="form-group" id="parent2_non_member_div" style="display:none">
          <div class="div">
            <div class="row">
              <div class="col-12">
                <label for="parent2_first_name">First Name</label>
                <input type="text" id="parent2_first_name" name="parent2_first_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="parent2_mid_name">Middle Initial</label>
                <input type="text" id="parent2_mid_name" name="parent2_mid_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="parent2_last_name">Last Name</label>
                <input type="text" id="parent2_last_name" name="parent2_last_name" class="form-control">
              </div>
            </div>
          </div>
        </fieldset>
        <p id="parent2_info_error" class="error_codes"> </p>
        <p id="parent2_middle_error" class="error_codes"> </p>
        <p id="parent2_middle_len_error" class="error_codes"> </p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_edit_parent_two">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="row">
  <div class="col-6">
    <legend>Child</legend>
    <hr>        
    <input type="radio" id="child_non_member"> Non-member
    <input class="mb-3" type="radio" id="child_member" checked disabled> Member
  
    <div id="child_member_div" style="display:block">
      <label>Select Child*</label>
      <select name="input_child_member" id="input_child_member" >
        {{>dropdown members}}
      </select>
    </div>
  
    <fieldset class="form-group" id="child_non_member_div" style="display:none">
      <div class="div">
        <div class="row">
          <div class="col-12">
            <label for="child_first_name">First Name</label>
            <input type="text" id="child_first_name" name="child_first_name" class="form-control">
          </div>
          <div class="col-12">
            <label for="child_mid_name">Middle Initial</label>
            <input type="text" id="child_mid_name" name="child_mid_name" class="form-control">
          </div>
          <div class="col-12">
            <label for="child_last_name">Last Name</label>
            <input type="text" id="child_last_name" name="child_last_name" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
    <p id="child_info_error" class="error_codes"> </p>
    <p id="child_middle_error" class="error_codes"> </p>
    <p id="child_middle_len_error" class="error_codes"> </p>
  </div>
</div> --}}

{{!-- <input type="radio" id="parent1_non_member"> Non Member
<input class="mb-3" type="radio" id="parent1_member" checked disabled> Member
<div id="parent1_member_div" style="display:block">
  <label>Select Parent / Guardian*</label>
  <select name="input_parent1" id="input_parent1_member">
    {{>dropdown members}}
  </select>
</div>
<fieldset class="form-group" id="parent1_non_member_div" style="display:none">
  <div class="div">
    <div class="row">
      <div class="col-12">
        <label for="parent1_first_name">First Name</label>
        <input type="text" id="parent1_first_name" name="parent1_first_name" class="form-control">
      </div>
      <div class="col-12">
        <label for="parent1_mid_name">Middle Initial</label>
        <input type="text" id="parent1_mid_name" name="parent1_mid_name" class="form-control">
      </div>
      <div class="col-12">
        <label for="parent1_last_name">Last Name</label>
        <input type="text" id="parent1_last_name" name="parent1_last_name" class="form-control">
      </div>
    </div>
  </div>
</fieldset>
<p id="parent1_info_error" class="error_codes"> </p>
<p id="parent1_middle_error" class="error_codes"> </p>
<p id="parent1_middle_len_error" class="error_codes"> </p> --}}

{{!-- <input type="radio" id="parent2_non_member"> Non-member
<input class="mb-3" type="radio" id="parent2_member" checked disabled> Member
<input type="radio" id="parent2_none"> None

<div id="parent2_member_div" style="display:block">
  <label>Select Parent / Guardian</label>
  <select name="input_parent2_member" id="input_parent2_member">
    {{>dropdown members}}
  </select>
</div>

<fieldset class="form-group" id="parent2_non_member_div" style="display:none">
  <div class="div">
    <div class="row">
      <div class="col-12">
        <label for="parent2_first_name">First Name</label>
        <input type="text" id="parent2_first_name" name="parent2_first_name" class="form-control">
      </div>
      <div class="col-12">
        <label for="parent2_mid_name">Middle Initial</label>
        <input type="text" id="parent2_mid_name" name="parent2_mid_name" class="form-control">
      </div>
      <div class="col-12">
        <label for="parent2_last_name">Last Name</label>
        <input type="text" id="parent2_last_name" name="parent2_last_name" class="form-control">
      </div>
    </div>
  </div>
</fieldset>
<p id="parent2_info_error" class="error_codes"> </p>
<p id="parent2_middle_error" class="error_codes"> </p>
<p id="parent2_middle_len_error" class="error_codes"> </p> --}}