<center><h1>SUCCESS</h1></center><br>
<h3>BRIDE: {{brideFirst}} {{brideMid}} {{brideLast}}</h3><br>
<h3>GROOM: {{groomFirst}} {{groomMid}} {{groomLast}}</h3>
<h3>Date logged: {{currentDate}}</h3>
<h3>Date of Wedding: {{weddingDate}}</h3>
<a href="/forms_main_page"><button><p class="p-2">Back to Home</p></button></a>