<style>
  @import url(/css/fonts.css);

  #header {
      font-family: JuliusSansPro;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <div class="d-flex flex-row">
    <button style="background-color: transparent; border: none; padding: none"><a class="navbar-brand mt-1 ms-2" href="/forms_main_page"><i class="fas fa-arrow-left"></i></a></button>
    <a id="header" class="navbar-brand" href="/main_page">Disciple Christian Church</a>
  </div>
  <div class="d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <h1> Prenup Forms </h1>
      <a href="/add_prenup"><i style="width: 3em; height: 3em; color:black;" class="far fa-plus-square"></i></a>
    </div>
  </div>
  {{!-- <div class="row listrow">
      <div class="row mt-3 toprow" style="--bs-gutter-x: 0rem;">
        <div class="col-2 tile">
          <p class="variables"> Prenup ID </p>
        </div>
        <div class="col-4 tile">
          <p class="variables"> Groom </p>
        </div>
        <div class="col-4 tile">
          <p class="variables"> Bride </p>
        </div>
        <div class="col-2 tile">
          <p class="variables"> Date of Wedding </p>
        </div>          
      </div>
      {{#each prenup}}
      <a class="memberlink" href="/view_prenup/{{this.record_id}}">
        <div class="row indivmember" style="--bs-gutter-x: 0rem;">
          <div class="col-2 tile">
            <p class="variables"> {{this.record_id}} </p>
          </div>
          <div class="col-4 tile">
              <p class="variables"> {{this.groom_first_name}} {{this.groom_mid_name}}. {{this.groom_last_name}} </p>
          </div>
          <div class="col-4 tile">
            <p class="variables"> {{this.bride_first_name}} {{this.bride_mid_name}}. {{this.bride_last_name}} </p>
          </div>
          <div class="col-2 tile">
            <p class="variables"> {{dateView this.date_of_wedding}} </p>
          </div>
        </div>
      </a>
     {{/each}}
  </div> --}}
  
  <table id="dataTable" class="display table" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Groom</th>
        <th>Bride</th>
        <th>Date of Wedding</th>
      </tr>
    </thead>
    <tbody>
      {{#each prenup}}
        <tr data-href="/view_prenup/{{this.record_id}}">
          <td>{{this.record_id}}</td>
          <td>{{this.groom_first_name}} {{this.groom_mid_name}}. {{this.groom_last_name}}</td>
          <td>{{this.bride_first_name}} {{this.bride_mid_name}}. {{this.bride_last_name}}</td>
          <td>{{dateView this.date_of_wedding}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>