{{!-- {{>navbar}}
DedicationId: {{infant_dedication_id}}<br>
Child memberId: {{infant_member_id}}<br>
Child personId: {{infant_person_id}}<br>
Child: {{infant_first_name}}, {{infant_middle_name}}, {{infant_last_name}}<br>

ParentsId: {{parents_id}}<br>
Guardian1: {{guardianOne_first_name}}, {{guardianOne_mid_name}}, {{guardianOne_last_name}}<br>
Guardian1 personId: {{guardianOne_person_id}}, Parent1 memberId: {{guardianOne_member_id}}<br>

Guardian2: {{guardianTwo_first_name}}, {{guardianTwo_mid_name}}, {{guardianTwo_last_name}}<br>
Guardian2 personId: {{guardianTwo_person_id}}, Parent2 memberId: {{guardianTwo_member_id}}<br>

Officiant: {{officiant}}<br>
Date: {{dateView date}}<br>
Place: {{place}}<br>
Witnesses (Ninong/Ninang):<br>
{{#each witnesses}}
    {{this.witness_person_id}}, {{this.witness_first_name}} {{this.witness_middle_name}} {{this.witness_last_name}}<br>
{{/each}} --}}

<style>
  @import url(/css/fonts.css);

  #header {
      font-family: JuliusSansPro;
  }
</style>

{{>navbar}}

<div id="prenup_info" style="display: none" data-dedication="{{infant_dedication_id}}" ></div>
  <div class="container" style="padding-left: 18%; padding-right: 10%;">
    <h1 class="my-3"> View Child Dedication Record </h1>
    <hr>
    <div class="row">
      <legend>Child Name</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{infant_first_name}}</p>
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{infant_middle_name}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{infant_last_name}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <legend>Guardian One</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{guardianOne_first_name}}</p>
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{guardianOne_mid_name}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{guardianOne_last_name}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <legend>Guardian Two</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        {{#if (isUndefined guardianTwo_first_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{guardianTwo_first_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        {{#if (isUndefined guardianTwo_mid_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{guardianTwo_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        {{#if (isUndefined guardianTwo_last_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{guardianTwo_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <u> Officiant </u>
            <p>{{officiant}}</p>
        </div>
        <div class="col-4">
            <u> Address </u>
            <p>{{place}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
      <legend>Witnesses</legend>
      {{#each witnesses}}
        {{>witness this}}
      {{/each}}
    </div>
    <div class="row my-3">
      <div class="col">
        <a><button class="btn btn-secondary mb-4">Edit Dedication Form</button></a>
      </div>
    </div>