<style>
  @import url(/css/fonts.css);

  #header {
      font-family: JuliusSansPro;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <div class="d-flex flex-row">
    <button style="background-color: transparent; border: none; padding: none"><a class="navbar-brand mt-1 ms-2" href="/forms_main_page"><i class="fas fa-arrow-left"></i></a></button>
    <a id="header" class="navbar-brand" href="/main_page">Disciple Christian Church</a>
  </div>
  <div class="d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div id="prenup_info" style="display: none" data-prenup="{{prenupId}}" data-groom-person="{{groomPersonId}}" data-bride-person="{{bridePersonId}}" ></div>
  <div class="container" style="padding-left: 10%; padding-right: 10%;">
    <h1 class="my-3"> View Prenup </h1>
    <hr>
    <div class="row">
        <u for="date_added">Date Added</u>
        <p>{{dateView date}}</p>
    </div>

    <div class="row">
      <legend>Bride's Name</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{brideFirst}}</p>
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{brideMid}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{brideLast}}</p>
      </div>
    </div>
    <div class="row">
      <legend>Groom's Name</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{groomFirst}}</p>
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{groomMid}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{groomLast}}</p>
      </div>
    </div>
    <div class="row">
        <legend>Planned Wedding Date</legend>
        <p>{{dateString weddingDate}}</p>
    </div>

    <div class="row my-3">
      
    </div>
    <a href="/edit_prenup/{{prenupId}}"> <button class="btn btn-secondary mb-4">Edit Prenup Form</button> </a>
